@model IEnumerable<thekitchen_aspnetcore.Models.Product>
@{
    ViewData["Title"] = "Home";
}

            <div class="products">
                <div class="container">
                                @if(Model.Count() > 0)
            {
                <hr />
                    <div class="row">
                        
                    @foreach (var item in Model) {

                        <div class="col-xl-4 col-md-6">
                            <div class="product">
                                <div class="product-image" style="border:solid 2px #dbdbdb;"><a asp-controller="Products" asp-action="Index" asp-route-id="@item.ProductId"><img
                                        src="~/img-products/@Html.DisplayFor(modelItem => item.Image)" alt=""></a></div>
                                <div class="product-content">
                                    <div class="product-info d-flex flex-row align-items-start justify-content-start">
                                        <div>
                                            <div>
                                                <div class="product-name"><a asp-controller="Products" asp-action="Index" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a></div>
                                                <div class="product-category">In <a href="/Home/@item.CategoryId">@Html.DisplayFor(modelItem => item.Categories.Name)</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ml-auto text-right">
                                            <div class="product-price text-right">@Html.DisplayFor(modelItem => item.Price)</div>
                                        </div>
                                    </div>
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@item.ProductId">
                                    <div class="product-buttons">
                                        <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                            
                                            <div
                                                class="product-button text-center d-flex flex-column align-items-center justify-content-center">
                                                <div>
                                                    <div><img src="~/svg/cart.svg" class="svg" alt="">
                                                        <div>+</div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                
            
                        
                    </div>
                    }else{
                        <hr />
                    <div class="product-empty text-center"><p><img src="~/img/empty-product-img.png"></p><br>Products Empty</div>
                }
                </div>
            </div>

