@model thekitchen_aspnetcore.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderReceiverName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderReceiverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderReceiverPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderReceiverPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderReceiverAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderReceiverAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderReceiverZipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderReceiverZipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderReceiverProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderReceiverProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDeliveryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDeliveryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDeliveryPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDeliveryPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPaymentReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPaymentReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDeliveryTrack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDeliveryTrack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
